.question-wrapper{
    color: black;
    border: 1px solid black;
}

.question-box{
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.question-box-answered{
}

.question-box-opened{
}

.question-box-header{

}

.question-box-options{
}

.question-box-opt{
    padding: 10px;
    curser: pointer;
    border: 1px solid black;
    text-align: center;
}

.question-box-option-selected{
}

.question-buttons{
}

.question-buttons-prev{
}

.question-buttons-next{
}

.question-buttons-finish{
}

.question-buttons-noFinish{
}